<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daz.teacher.leaveMessage.dao.ILeaveMessageDao">
<resultMap type="com.daz.teacher.leaveMessage.pojo.LeaveMessagePojo" id="LeaveMessageResultMap">
	<id column="messageId" property="messageId"/>
	<result column="text" property="text"/>
	<result column="createTime" property="createTime"/>
	<result column="lookStatus" property="lookStatus"/>
	<result column="sentStatus" property="sentStatus"/>
	<association property="teacher" column="TEACHER_ID" javaType="com.daz.teacher.teacherInfo.pojo.teacher">
		<result column="messageTeacherId" property="teacherId"/> 
  		<result column="messageTeacherName" property="teacherName"/>
	</association>
	<association property="student" column="STUDENT_ID" javaType="com.daz.student.pojo.studentPojo">
		<result column="messageStudentId" property="studentId"/>
  		<result column="messageStudentName" property="studentName"/>
	</association>
</resultMap>
<select id="searchLeaveMessage" resultMap="LeaveMessageResultMap" parameterType="HashMap">
		select
		T1.MESSAGE_ID as messageId,
		T1.TEXT as text,
		T1.CREATE_TIME as createTime,
		T1.LOOK_STATUS as lookStatus,
		T1.SENT_STATUS as sentStatus,		
		
		T2.TEACHER_ID as messageTeacherId,
		T2.TEACHER_NAME as messageTeacherName,
		
		T3.STUDENT_ID as messageStudentId,
		T3.STUDENT_NAME as messageStudentName
		
		from MESSAGE T1 left join TEACHER_INFO T2
		on T2.TEACHER_ID = T1.TEACHER_ID
		left join STUDENTS T3
		on T3.STUDENT_ID = T1.STUDENT_ID
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="teacherId != null">
				and T1.TEACHER_ID=#{teacherId}
			</if>
			<if test="studentId != null">
				and T1.STUDENT_ID=#{studentId} 
			</if>
			<if test="sentStatus != null">
				and T1.SENT_STATUS=#{sentStatus}
			</if>
			<if test="lookStatus != null">
				and T1.LOOK_STATUS=#{lookStatus}
			</if>
		</trim>
		order by T1.CREATE_TIME,T1.MESSAGE_ID
</select>
<insert id="addLeaveMessage" parameterType="com.daz.teacher.leaveMessage.pojo.LeaveMessagePojo">
	<selectKey resultType="String" order="BEFORE" keyProperty="messageId">
		select SEQ_MESSAGE.Nextval from dual
	</selectKey>
	insert into MESSAGE(
	MESSAGE_ID,
	TEXT,
	CREATE_TIME,
	TEACHER_ID,
	STUDENT_ID,
	LOOK_STATUS,
	SENT_STATUS)
	values(
	#{messageId},
	#{text},
	#{createTime},
	#{teacher.teacherId},
	#{student.studentId},
	#{lookStatus},
	#{sentStatus}
	)

</insert>
 <update id="updateMessage" parameterType="HashMap">
		update MESSAGE T1
		<set>			
				T1.LOOK_STATUS=1,		
		</set>
where T1.STUDENT_ID=#{studentId} and T1.TEACHER_ID=#{teacherId} and T1.LOOK_STATUS=0 and T1.SENT_STATUS=2
</update>

</mapper>